.confidential{
 margin-top: 15px;
 text-align: center;

}

.fax-header{
  padding: 10px;
  font-size: 2%;
  width: 45%;
}

.image{
 margin-top: 4%;
 padding-left: 11%;
 height: 300px;
 width: 300px;
}