body{
  height:100vh;
}

.input-page{
  text-align: center;
  margin-top: 10%;
}

.form{
  display: flex;
  flex-direction: column; 
  margin-left: 35%;
  margin-right: 35%;
}

.form-input{
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 1vw;
  margin-left: 2vw;
}

.contact{
  display: flex;
  flex-direction: row;
  text-align:center;
}

.other-field{
  margin-bottom: 20px;
}

.fax-header{
  padding: 10px;
  /* font-size: 2%; */
  width: 45%;
}

.note{
  padding-top: 2px;
  font-size: 7px;
}

.image{
  margin-top: 4%;
  padding-left: 11%;
  height: 300px;
  width: 300px;
}

.confidential{
  margin-top: 10px;
  text-align: center;
  border-bottom-style: solid;
}

.statement{
  font-size: 5px;
  padding-bottom: 1px;
}

.button{
  background-color: green;
  color: white;
  width: 50px;
  height:25px;
  margin-left: 20%;
}

.bottom{
  height: 55px;
  border-bottom-style: solid;
}

@media screen and (max-width: 986px) {
  .form{
    margin-left: 28%;
    margin-right: 28%;
  }
}

@media screen and (max-width: 624px) {
  .form{
    margin-left: 26%;
    margin-right: 26%;
  }
}

@media screen and (max-width: 578px) {
  .form{
    margin-left: 10%;
    margin-right: 10%;
  }
}